@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Staatliches&display=swap");
.welcome {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #effbff;
  font-size: 1rem;
  padding: .5em;
  text-align: center;
}

.welcome h1 {
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Staatliches', cursive;
  margin-bottom: .5em;
}

.welcome .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  max-width: 400px;
}

.welcome .cta-button {
  text-decoration: none;
  background-color: #005792;
  color: #effbff;
  padding: 1em;
  border-radius: 2em;
  min-width: 45%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.welcome .cta-button:hover {
  background-color: #00bbf0;
}

.forms {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #effbff;
  font-size: 1rem;
}

.forms h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.form {
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  width: 90%;
  max-width: 400px;
}

.form h3 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #005792;
  font-size: 1.5em;
}

.form .form-name,
.form .form-email,
.form .form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 1.5em;
}

.form .form-name label,
.form .form-email label,
.form .form-password label {
  width: 30%;
  padding: .8em 0;
}

.form .form-name input,
.form .form-email input,
.form .form-password input {
  width: 70%;
  background: transparent;
  border: 1px solid #00204a;
  padding: .8em;
}

.form .form-name input:focus,
.form .form-email input:focus,
.form .form-password input:focus {
  border: 1.5px solid #005792;
  outline: none;
}

.form .form-name .password-container,
.form .form-email .password-container,
.form .form-password .password-container {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-name .password-container input,
.form .form-email .password-container input,
.form .form-password .password-container input {
  width: 90%;
  padding: .8em;
}

.form .form-name .password-container button,
.form .form-email .password-container button,
.form .form-password .password-container button {
  width: 10%;
  padding: 1em 0;
  text-align: center;
  border: 1px solid #005792;
  background-color: #005792;
  color: #effbff;
}

.form .form-name .password-container button:hover, .form .form-name .password-container button:focus,
.form .form-email .password-container button:hover,
.form .form-email .password-container button:focus,
.form .form-password .password-container button:hover,
.form .form-password .password-container button:focus {
  cursor: pointer;
}

.form-submit {
  width: 100%;
  padding: 1em;
  background-color: #00204a;
  color: #effbff;
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 1em;
}

.form-submit:hover, .form-submit:focus {
  background: #005792;
  cursor: pointer;
}

.form .dont {
  margin: 1.2em 0 .8em 0;
  text-align: center;
}

.form .dont a {
  text-decoration: none;
  color: #00204a;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  padding: .5em;
  display: inline-block;
}

.form .dont a:hover, .form .dont a:focus {
  color: #effbff;
  background-color: #005792;
}

nav {
  font-size: 1rem;
  background: #effbff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav ul li {
  text-align: center;
  color: #00204a;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  color: inherit;
  height: 100%;
  width: 100%;
}

nav ul li:hover, nav ul li:focus {
  background-color: #00bbf0;
  color: #00204a;
}

nav ul .home-nav {
  width: 50%;
}

nav ul .my-account-nav {
  width: 20%;
}

nav ul .users-nav {
  width: 20%;
}

nav ul .logout-nav {
  width: 10%;
  color: brown;
}

nav ul .active {
  color: #effbff !important;
  background: #005792;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Staatliches', cursive;
  color: #00204a;
}
/*# sourceMappingURL=index.css.map */