@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Staatliches&display=swap");
.welcome {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #effbff;
  font-size: 1rem;
  padding: .5em;
  text-align: center;
}

.welcome h1 {
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Staatliches', cursive;
  margin-bottom: .5em;
}

.welcome .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  max-width: 400px;
}

.welcome .cta-button {
  text-decoration: none;
  background-color: #005792;
  color: #effbff;
  padding: 1em;
  border-radius: 2em;
  min-width: 45%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.welcome .cta-button:hover {
  background-color: #00bbf0;
}

.forms {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #effbff;
  font-size: 1rem;
}

.forms h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.form {
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  width: 90%;
  max-width: 400px;
}

.form h3 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #005792;
  font-size: 1.5em;
}

.form .form-name,
.form .form-email,
.form .form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 1.5em;
}

.form .form-name label,
.form .form-email label,
.form .form-password label {
  width: 30%;
  padding: .8em 0;
}

.form .form-name input,
.form .form-email input,
.form .form-password input {
  width: 70%;
  background: transparent;
  border: 1px solid #00204a;
  padding: .8em;
}

.form .form-name input:focus,
.form .form-email input:focus,
.form .form-password input:focus {
  border: 1.5px solid #005792;
  outline: none;
}

.form .form-name .password-container,
.form .form-email .password-container,
.form .form-password .password-container {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-name .password-container input,
.form .form-email .password-container input,
.form .form-password .password-container input {
  width: 90%;
  padding: .8em;
}

.form .form-name .password-container button,
.form .form-email .password-container button,
.form .form-password .password-container button {
  width: 10%;
  padding: 1em 0;
  text-align: center;
  border: 1px solid #005792;
  background-color: #005792;
  color: #effbff;
}

.form .form-name .password-container button:hover, .form .form-name .password-container button:focus,
.form .form-email .password-container button:hover,
.form .form-email .password-container button:focus,
.form .form-password .password-container button:hover,
.form .form-password .password-container button:focus {
  cursor: pointer;
}

.form-submit {
  width: 100%;
  padding: 1em;
  background-color: #00204a;
  color: #effbff;
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 1em;
}

.form-submit:hover, .form-submit:focus {
  background: #005792;
  cursor: pointer;
}

.form .dont {
  margin: 1.2em 0 .8em 0;
  text-align: center;
}

.form .dont a {
  text-decoration: none;
  color: #00204a;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  padding: .5em;
  display: inline-block;
}

.form .dont a:hover, .form .dont a:focus {
  color: #effbff;
  background-color: #005792;
}

nav {
  font-size: 1rem;
  background: #effbff;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}

nav .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav .header-nav .home-nav {
  text-align: center;
  color: #00204a;
  width: 80%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav .header-nav .home-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  color: inherit;
  height: 100%;
  width: 100%;
}

nav .header-nav .home-nav:hover, nav .header-nav .home-nav:focus {
  background-color: #00bbf0;
  color: #effbff;
  cursor: pointer;
}

nav .header-nav .account-dropdown {
  width: 15%;
  min-width: 100px;
  color: #00204a;
  border: none;
  font-size: 1.1em;
  background: transparent;
}

nav .header-nav .account-dropdown:hover, nav .header-nav .account-dropdown:focus {
  cursor: pointer;
  background: #00bbf0;
  color: #effbff;
}

nav .header-nav .account-nav {
  width: 90%;
  max-width: 400px;
  position: absolute;
  top: 4em;
  right: 1em;
  text-align: center;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #effbff;
  display: none;
}

nav .header-nav .account-nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

nav .header-nav .account-nav .dropdown .my-account-nav {
  border-bottom: 1px solid #005792;
}

nav .header-nav .account-nav .dropdown li {
  width: 100%;
  color: #00204a;
}

nav .header-nav .account-nav .dropdown li a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 1em;
}

nav .header-nav .account-nav .dropdown li:hover, nav .header-nav .account-nav .dropdown li:focus {
  background-color: #00bbf0;
  color: #effbff;
  cursor: pointer;
}

nav .header-nav .logout-nav {
  width: 5%;
  min-width: 50px;
  text-align: center;
  height: 100%;
  color: brown;
  position: relative;
}

nav .header-nav .logout-nav a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  padding: 1em;
  color: inherit;
}

nav .header-nav .logout-nav .tooltip {
  position: absolute;
  right: 5px;
  display: none;
  color: #00204a;
}

nav .header-nav .logout-nav:hover, nav .header-nav .logout-nav:focus {
  background: brown;
  color: #effbff;
}

nav .header-nav .logout-nav:hover .tooltip,
nav .header-nav .logout-nav:focus .tooltip {
  display: block;
}

nav .header-nav .active {
  color: #effbff !important;
  background: #005792;
}

.my-account {
  background: #effbff;
  font-size: 1rem;
  height: 100vh;
  text-align: center;
}

.my-account-details {
  padding: 1em;
  margin: 2em auto;
  width: 90%;
  max-width: 400px;
}

.my-account-name {
  font-size: 2.5em;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
}

.my-account-avatar {
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.my-account-email {
  font-size: 1.1em;
  margin: .2em 0;
}

.my-account-edit {
  border: none;
  padding: 1em;
  background: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #effbff;
  background: #005792;
  margin: 1em 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.my-account-edit:hover {
  cursor: pointer;
  background: #00bbf0;
}

.home {
  min-height: 100vh;
  font-size: 1em;
  text-align: center;
  background: #effbff;
  color: #005792;
}

.home .account-details {
  height: 80%;
  padding: 1em .5em;
}

.home .account-details .account-name {
  color: #00204a;
  font-size: 2em;
  margin: .8em 0 .4em 0;
}

.home .account-details .account-name span {
  font-family: "Staatliches", cursive;
}

.home .account-details .account-email {
  font-size: 1.1em;
  margin-bottom: .5em;
}

.home .account-details .account-avatar {
  height: 250px;
  width: 250px;
  display: block;
  margin: .2em auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.home .account-details .current-location {
  font-size: 1.05em;
  color: #00204a;
  margin: .5em 0;
}

.home .account-details .account-summary {
  font-size: .9em;
  margin: .5em 0;
}

.users {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1rem;
  background: #effbff;
  color: #005792;
  padding: 0 0 1em 0;
}

.users .user {
  padding: 1em;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  margin: 1.5em auto;
  text-align: center;
}

.users .user-name {
  font-size: 1.5em;
  color: #00204a;
}

.users .user-email {
  font-size: 1em;
  margin-bottom: .5em;
}

.users .user-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.error {
  height: 100vh;
  width: 100%;
  background-color: #effbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.error p {
  font-size: 1.1em;
  margin: 1em 0;
}

.error-nav {
  text-decoration: none;
  padding: 1em 1.5em;
  background: #005792;
  color: #effbff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.error-nav:hover {
  background: #00bbf0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Staatliches', cursive;
  color: #00204a;
}
/*# sourceMappingURL=index.css.map */