nav {
    font-size: 1rem;
    background: $primary;
    box-shadow:0 0 2px 2px rgba(0, 0, 0, .4);

    .header-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        height: 100%;

        .home-nav {
            text-align: center;
            color: $dark;
            width: 80%;
            @include transition;

            a {
                display: inline-block;
                text-decoration: none;
                padding: 1em;
                color: inherit;
                height: 100%;
                width: 100%;
                font-size: 1.1em;
            }

            &:hover,
            &:focus {
                background-color: $neutral;
                color: $primary;
                cursor: pointer
            }
        }

        .account-dropdown {
            width: 15%;
            min-width: 100px;
            color: $dark;
            border: none;
            font-size: 1.1em;
            background: transparent;

            &:hover,
            &:focus {
                cursor: pointer;
                background: $neutral;
                color: $primary;
            }
        }

        .account-nav {
            width: 90%;
            max-width: 400px;
            position: absolute;
            top: 4em;
            right: 1em;
            // border: 1px solid red;
            text-align: center;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
            background-color: $primary;
            display: none;

            .dropdown {
                display: flex;
                flex-direction: column;
                // position: absolute;
                list-style: none;

                .my-account-nav {
                    border-bottom: 1px solid $secondary;
                }


                li {
                    width: 100%;
                    color: $dark;

                    a {
                        text-decoration: none;
                        color: inherit;
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                        padding: 1em;

                    }

                    &:hover,
                    &:focus {
                        background-color: $neutral;
                        color: $primary;
                        cursor: pointer;
                    }
                }
            }
        }

        .logout-nav {
            width: 5%;
            min-width: 50px;
            text-align: center;
            height: 100%;
            color: brown;
            position: relative;

            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                font-size: 1.2em;
                padding: 1em;
                color: inherit;
            }

            .tooltip {
                position: absolute;
                right: 5px;
                display: none;
                color: $dark;
            }

            &:hover,
            &:focus {
                background: brown;
                color: $primary;

            }

            &:hover .tooltip,
            &:focus .tooltip {
                display: block;
            }
        }


        // .my-account-nav {
        //     width: 20%;
        // }

        // .users-nav {
        //     width: 20%;
        // }

        // .logout-nav {
        //     width: 10%;
        //     color: brown;
        // }

        .active {
            color: $primary !important;
            background: $secondary;
        }
    }
}