.update-modal {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    @include center;
    font-size: 1em;



    .form {
        background: rgb(255, 255, 255);
        position: relative;
        padding: 2.5em;


        >button:first-child {
            border: none;
            background: none;
            font-size: 1.5em;
            position: absolute;
            top: .5em;
            right: .5em;
            color: brown;

        }

        .image-upload{
            width: 100%;
            display: flex;
            flex-direction: column;

            label{
                color: $dark;
            }

            input{
                color: $dark;
                margin: 1em 0;
            }
        }
    }

}